# Pandas and some Census data

Based on teaching materials from Lam Thuy Vo at NICAR19 to do stuff with a U.S. Census CSV file using Pandas.

* [Slides](https://docs.google.com/presentation/d/1ZG-IC33qL6dOk-WfwMuiyfzLb-Th1I_XoGNFPpbq8Ps/)
* [GitHub repo](https://github.com/lamthuyvo/python-data-nicar2019)
* [Pandas user guide](http://pandas.pydata.org/pandas-docs/stable/user_guide/index.html)

**Before running these cells,** you must install Pandas in the environment that is running this Notebook.

In [1]:
# import the pandas library and give it a "nickname," pd, to be used when you call a pandas function
import pandas as pd

In [2]:
# import a CSV file's data as a Pandas dataframe
# we assign the dataframe to the variable census_data, but some people would prefer to name it df 
census_data = pd.read_csv('2016_census_data.csv')

In [3]:
# look at first 5 rows of dataset with a function called .head()
# be sure to scroll rightwards to see more columns
census_data.head(5)

,geoid,name,county,state,total_population,median_income,median_home_value,educational_attainment,white_alone,black_alone,native,asian,native_hawaiian_pacific_islander,some_other_race_alone,two_or_more,hispanic_or_latino
0,34003001000,Census Tract 10,Bergen County,New Jersey,6767,151641,680000,3045,5667,75,0,759,0,0,132,134
1,34003002100,Census Tract 21,Bergen County,New Jersey,1522,114545,2000001,836,788,141,0,444,0,0,27,122
2,34003002200,Census Tract 22,Bergen County,New Jersey,5389,90647,453800,1791,3481,99,9,1247,0,36,19,504
3,34003002300,Census Tract 23,Bergen County,New Jersey,5828,112031,610000,2363,3595,89,37,1627,0,0,32,448
4,34003003100,Census Tract 31,Bergen County,New Jersey,4946,76906,301900,1588,1803,306,0,1435,0,13,24,1365

In [4]:
# look at last 5 rows of dataset with a function called .tail()
# note the row numbers in the first column
census_data.tail(5)

,geoid,name,county,state,total_population,median_income,median_home_value,educational_attainment,white_alone,black_alone,native,asian,native_hawaiian_pacific_islander,some_other_race_alone,two_or_more,hispanic_or_latino
4695,42103950701,Census Tract 9507.01,Pike County,Pennsylvania,4107,61726,155800,537,3665,12,0,67,0,0,26,337
4696,42103950702,Census Tract 9507.02,Pike County,Pennsylvania,3119,59239,151100,405,2908,44,0,60,0,0,19,88
4697,42103950801,Census Tract 9508.01,Pike County,Pennsylvania,4403,55530,120000,718,2777,705,0,53,0,0,97,771
4698,42103950802,Census Tract 9508.02,Pike County,Pennsylvania,6004,50724,146700,795,3072,970,20,44,0,0,11,1887
4699,42103950900,Census Tract 9509,Pike County,Pennsylvania,4184,49453,146100,721,3888,55,29,22,0,0,9,181

In [5]:
# view 5 random rows - the number can be more or less than 5, up to you
# if you shift-enter in this cell more than once, you'll get different rows each time
census_data.sample(5)

,geoid,name,county,state,total_population,median_income,median_home_value,educational_attainment,white_alone,black_alone,native,asian,native_hawaiian_pacific_islander,some_other_race_alone,two_or_more,hispanic_or_latino
4508,36119002403,Census Tract 24.03,Westchester County,New York,5386,77788,359500,1339,2921,835,0,384,0,0,0,1246
483,34017013500,Census Tract 135,Hudson County,New Jersey,5069,47382,295300,915,1692,13,42,624,0,9,104,2585
1089,34029731101,Census Tract 7311.01,Ocean County,New Jersey,3301,66500,285100,552,2741,98,0,80,0,29,104,249
4668,36119014809,Census Tract 148.09,Westchester County,New York,6541,96477,444400,2387,5193,137,0,436,0,39,90,646
4670,36119014811,Census Tract 148.11,Westchester County,New York,5773,134773,445700,1888,4553,206,0,201,0,41,36,736

What we are looking at is called a **dataframe.** What we are doing is **exploring** the dataframe to get an idea of how much data we have and what it looks like. We can also read the column headings to understand what data we have.

In [6]:
# we can flip the data so that the column headings are in column 1 and all the rows become columns
# it does not stay this way - we are only looking 
census_data.T

,0,1,2,3,4,5,6,7,8,9,...,4690,4691,4692,4693,4694,4695,4696,4697,4698,4699
geoid,34003001000,34003002100,34003002200,34003002300,34003003100,34003003200,34003003300,34003003401,34003003402,34003003500,...,42103950502,42103950601,42103950603,42103950605,42103950606,42103950701,42103950702,42103950801,42103950802,42103950900
name,Census Tract 10,Census Tract 21,Census Tract 22,Census Tract 23,Census Tract 31,Census Tract 32,Census Tract 33,Census Tract 34.01,Census Tract 34.02,Census Tract 35,...,Census Tract 9505.02,Census Tract 9506.01,Census Tract 9506.03,Census Tract 9506.05,Census Tract 9506.06,Census Tract 9507.01,Census Tract 9507.02,Census Tract 9508.01,Census Tract 9508.02,Census Tract 9509
county,Bergen County,Bergen County,Bergen County,Bergen County,Bergen County,Bergen County,Bergen County,Bergen County,Bergen County,Bergen County,...,Pike County,Pike County,Pike County,Pike County,Pike County,Pike County,Pike County,Pike County,Pike County,Pike County
state,New Jersey,New Jersey,New Jersey,New Jersey,New Jersey,New Jersey,New Jersey,New Jersey,New Jersey,New Jersey,...,Pennsylvania,Pennsylvania,Pennsylvania,Pennsylvania,Pennsylvania,Pennsylvania,Pennsylvania,Pennsylvania,Pennsylvania,Pennsylvania
total_population,6767,1522,5389,5828,4946,5044,6638,2958,3827,4100,...,3132,1560,1093,6056,5647,4107,3119,4403,6004,4184
median_income,151641,114545,90647,112031,76906,69531,97957,122650,105776,52382,...,57875,68319,56250,83220,86250,61726,59239,55530,50724,49453
median_home_value,680000,2000001,453800,610000,301900,322400,328100,385200,356100,340200,...,205300,269200,281400,207100,237300,155800,151100,120000,146700,146100
educational_attainment,3045,836,1791,2363,1588,1417,1737,941,1237,891,...,728,354,255,1048,1369,537,405,718,795,721
white_alone,5667,788,3481,3595,1803,1342,2437,1704,1937,886,...,2186,1404,1009,5487,4951,3665,2908,2777,3072,3888
black_alone,75,141,99,89,306,186,400,109,260,502,...,237,33,16,333,71,12,44,705,970,55
native,0,0,9,37,0,19,0,0,0,16,...,0,0,0,21,0,0,0,0,20,29
asian,759,444,1247,1627,1435,1882,2131,520,733,1160,...,120,11,0,0,156,67,60,53,44,22
native_hawaiian_pacific_islander,0,0,0,0,0,0,0,0,0,0,...,0,0,0,9,0,0,0,0,0,0
some_other_race_alone,0,0,36,0,13,6,0,0,4,0,...,31,0,0,11,12,0,0,0,0,0
two_or_more,132,27,19,32,24,64,148,36,122,59,...,75,53,16,0,20,26,19,97,11,9
hispanic_or_latino,134,122,504,448,1365,1564,1522,589,771,1493,...,483,59,52,195,437,337,88,771,1887,181

In [7]:
# see a list of all column headings 
census_data.columns

Index(['geoid', 'name', 'county', 'state', 'total_population', 'median_income',
       'median_home_value', 'educational_attainment', 'white_alone',
       'black_alone', 'native', 'asian', 'native_hawaiian_pacific_islander',
       'some_other_race_alone', 'two_or_more', 'hispanic_or_latino'],
      dtype='object')

In [8]:
# see all the data types in your dataframe 
census_data.dtypes

geoid                                int64
name                                object
county                              object
state                               object
total_population                     int64
median_income                        int64
median_home_value                    int64
educational_attainment               int64
white_alone                          int64
black_alone                          int64
native                               int64
asian                                int64
native_hawaiian_pacific_islander     int64
some_other_race_alone                int64
two_or_more                          int64
hispanic_or_latino                   int64
dtype: object

`object` is used for text (string), and `int64` means the data in that column is an integer. Sometimes the data is not formatted correctly, and you need to change the data type in a column. Other data types include `float64`, `bool`, and `datetime64[ns]`.

In [9]:
# use the shape command to get see number of rows, columns in the dataframe
census_data.shape

(4700, 16)

In [10]:
# see first five cells in 'county' column
census_data['county'].head(5)

0     Bergen County
1     Bergen County
2     Bergen County
3     Bergen County
4     Bergen County
Name: county, dtype: object

In [11]:
# see ALL cells in 'county' column - not really - we have too many rows in this dataframe 
census_data['county']

0             Bergen County
1             Bergen County
2             Bergen County
3             Bergen County
4             Bergen County
5             Bergen County
6             Bergen County
7             Bergen County
8             Bergen County
9             Bergen County
10            Bergen County
11            Bergen County
12            Bergen County
13            Bergen County
14            Bergen County
15            Bergen County
16            Bergen County
17            Bergen County
18            Bergen County
19            Bergen County
20            Bergen County
21            Bergen County
22            Bergen County
23            Bergen County
24            Bergen County
25            Bergen County
26            Bergen County
27            Bergen County
28            Bergen County
29            Bergen County
               ...
4670     Westchester County
4671     Westchester County
4672     Westchester County
4673     Westchester County
4674     Westchester County
4675     Westchester County
4676     Westchester County
4677     Westchester County
4678     Westchester County
4679     Westchester County
4680     Westchester County
4681     Westchester County
4682            Pike County
4683            Pike County
4684            Pike County
4685            Pike County
4686            Pike County
4687            Pike County
4688            Pike County
4689            Pike County
4690            Pike County
4691            Pike County
4692            Pike County
4693            Pike County
4694            Pike County
4695            Pike County
4696            Pike County
4697            Pike County
4698            Pike County
4699            Pike County
Name: county, Length: 4700, dtype: object

In [12]:
# create a Python list with the names of only the columns you want to view
column_names  = ['county', 'total_population', 'median_income',
       'educational_attainment']
# now view only those columns - use .sample() to get random rows
census_data[column_names].sample(10)

,county,total_population,median_income,educational_attainment
1828,Dutchess County,3690,85156,1186
2419,Kings County,0,-666666666,0
599,Middlesex County,7467,102432,2471
4009,Richmond County,2359,62500,498
3300,Queens County,3810,64296,493
2280,Kings County,2899,87135,1245
2058,Kings County,2295,45394,499
4054,Richmond County,6201,97316,1293
2671,Nassau County,4618,46361,447
3695,Queens County,1941,84886,372

In [13]:
# pandas assigns each row a number as an index automatically
# (we could assign each row a different index, but it's not necessary)
# if I know I want to look at only the data in the row with index 350 - 
census_data.iloc[350]

geoid                                    34013019200
name                                Census Tract 192
county                                  Essex County
state                                     New Jersey
total_population                                4783
median_income                                  72000
median_home_value                             425200
educational_attainment                           929
white_alone                                     2765
black_alone                                     1185
native                                             0
asian                                            349
native_hawaiian_pacific_islander                   0
some_other_race_alone                              7
two_or_more                                       72
hispanic_or_latino                               405
Name: 350, dtype: object

It's called "integer-location based indexing," so that's why the function is named `iloc`. [Learn more here.](https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/)

In [14]:
# combining .iloc[] and column-name search
census_data['name'].iloc[350]

'Census Tract 192'

In [15]:
# or using that list from before and a different index number
census_data[column_names].iloc[4]

county                     Bergen County
total_population                    4946
median_income                      76906
educational_attainment              1588
Name: 4, dtype: object

In [16]:
# do math things on ONE column only
# note - if we don't PRINT these, we'll see only the last one 
print(census_data['black_alone'].mean())
print(census_data['black_alone'].median())
print(census_data['black_alone'].sum())

671.4195744680851
198.5
3155672

What we got from the previous cell was the mean, median, and sum (total) of ALL values in the entire column named "black_alone" - for all 4,700 rows!

In [17]:
census_data['black_alone'].describe()

count     4700.000000
mean       671.419574
std       1041.216791
min          0.000000
25%         47.000000
50%        198.500000
75%        889.500000
max      17123.000000
Name: black_alone, dtype: float64

The meaning of each line in the previous result is explained [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html). `count` is how many rows were analyzed (4,700). `mean` is the same as the cell before, where we got mean, median, and sum. `mean` is the same as "average." `std` is the [standard deviation](https://www.robertniles.com/stats/stdev.shtml). `min` is the lowest value in the column - here, 0 means that some Census tracts have zero black residents. The three percentiles show us what proportion of rows contain a value equal to or less than that number - so 25% of the Census tracts have 47 or fewer black residents. Finally, `max` tells us the highest value in this column.

In [18]:
# how many Census tracts (out of 4,700) with fewer than 100 black residents? 
len(census_data[census_data['black_alone'] < 100])

1755

In [19]:
# how many Census tracts (out of 4,700) with fewer than 100 Asian residents? 
len(census_data[census_data['asian'] < 100])

1596

In [20]:
# we can assign an entire column to a variable, and then use that variable to make comparisons
asian_population = census_data['asian']
asian_population.describe()

count    4700.000000
mean      448.927234
std       686.813167
min         0.000000
25%        60.750000
50%       198.000000
75%       545.000000
max      7803.000000
Name: asian, dtype: float64

In [21]:
# now we assign a different column to a different variable
black_population = census_data['black_alone']

In [22]:
# compare the means of the two columns
# python greater than
black_population.mean() > asian_population.mean()

True

In [23]:
# reverse
asian_population.mean() > black_population.mean()

False

In [24]:
# show unique values in a given column
census_data.county.unique()

array([' Bergen County', ' Essex County', ' Hudson County',
       ' Hunterdon County', ' Middlesex County', ' Monmouth County',
       ' Morris County', ' Ocean County', ' Passaic County',
       ' Somerset County', ' Sussex County', ' Union County',
       ' Bronx County', ' Dutchess County', ' Kings County',
       ' Nassau County', ' New York County', ' Orange County',
       ' Putnam County', ' Queens County', ' Richmond County',
       ' Rockland County', ' Suffolk County', ' Westchester County',
       ' Pike County'], dtype=object)

Remember that each of these counties has MANY Census tracts, so the county names appear many times in the `county` column. The previous cell lets us see how many counties are in the dataframe, with no duplications.

In [25]:
# sort them alphabetically and print one per line 
for county in sorted(census_data.county.unique()):
    print(county)

 Bergen County
 Bronx County
 Dutchess County
 Essex County
 Hudson County
 Hunterdon County
 Kings County
 Middlesex County
 Monmouth County
 Morris County
 Nassau County
 New York County
 Ocean County
 Orange County
 Passaic County
 Pike County
 Putnam County
 Queens County
 Richmond County
 Rockland County
 Somerset County
 Suffolk County
 Sussex County
 Union County
 Westchester County

In [26]:
# find rows where a string matches the value in given column
# we want to find out how many rows are for Pike County
pike = census_data.loc[(census_data['county'] == 'Pike County')]
# count how many Pike County rows
len(pike)

0

You can see from previous results that there are definitely cells containing the string "Pike County" - so why does `len()` come back with 0? It means that there is no match, and that means there must be some **invisible characters** in the string - such as spaces, line endings, or tabs. Python has a method for striping those characters off the start or end of a string.

In [27]:
# data in this column is dirty, so we strip spaces and invisible characters with .str.strip(' \t\n\r') 
pike = census_data.loc[(census_data['county'].str.strip(' \t\n\r') == 'Pike County')]
# count how many Pike County rows
len(pike)

18

That's better. And now that we realize the county cells contain "dirty data," we might want to simply clean all of them up at once. It's best to preserve the original column (for safety) and create a new column that has the clean data in it.

In [28]:
# to create a new column with clean county names - 
# 'county_clean' is the NEW column 
census_data['county_clean'] = census_data['county'].str.strip(' \t\n\r')

In [29]:
# create a Python list with just the columns you want
column_names  = ['name', 'county', 'state', 'total_population', 'median_income', 'median_home_value']

# using the pike variable from a previous cell - 
# sort the rows with highest median_home_value at top, lowest at bottom
pike[column_names].sort_values('median_home_value', ascending=False)

,name,county,state,total_population,median_income,median_home_value
4688,Census Tract 9503.02,Pike County,Pennsylvania,771,61875,336500
4692,Census Tract 9506.03,Pike County,Pennsylvania,1093,56250,281400
4691,Census Tract 9506.01,Pike County,Pennsylvania,1560,68319,269200
4694,Census Tract 9506.06,Pike County,Pennsylvania,5647,86250,237300
4685,Census Tract 9502.01,Pike County,Pennsylvania,3470,69554,225200
4684,Census Tract 9501.04,Pike County,Pennsylvania,2311,53789,215500
4693,Census Tract 9506.05,Pike County,Pennsylvania,6056,83220,207100
4690,Census Tract 9505.02,Pike County,Pennsylvania,3132,57875,205300
4689,Census Tract 9505.01,Pike County,Pennsylvania,1578,52470,197400
4682,Census Tract 9501.02,Pike County,Pennsylvania,2383,57292,188200
4687,Census Tract 9503.01,Pike County,Pennsylvania,2494,50129,182400
4686,Census Tract 9502.02,Pike County,Pennsylvania,1562,51016,180700
4683,Census Tract 9501.03,Pike County,Pennsylvania,2336,55833,174600
4695,Census Tract 9507.01,Pike County,Pennsylvania,4107,61726,155800
4696,Census Tract 9507.02,Pike County,Pennsylvania,3119,59239,151100
4698,Census Tract 9508.02,Pike County,Pennsylvania,6004,50724,146700
4699,Census Tract 9509,Pike County,Pennsylvania,4184,49453,146100
4697,Census Tract 9508.01,Pike County,Pennsylvania,4403,55530,120000

In the output above, notice the **total population** for the tract with highest median home value.

In [30]:
# if I want to use my new 'county_clean' column instead -
column_names  = ['county_clean', 'total_population', 'median_income', 'median_home_value', 'name']

# note, I changed the column order in that list!! 
passaic = census_data.loc[(census_data['county_clean'] == 'Passaic County')]
passaic[column_names].sort_values('median_home_value', ascending=False)

,county_clean,total_population,median_income,median_home_value,name
1215,Passaic County,5320,136250,494900,Census Tract 2462.02
1214,Passaic County,6237,132500,487200,Census Tract 2462.01
1208,Passaic County,3005,145096,482000,Census Tract 2460.02
1212,Passaic County,6427,142563,472600,Census Tract 2461.03
1213,Passaic County,3078,65167,469300,Census Tract 2461.04
1207,Passaic County,6330,99844,458900,Census Tract 2460.01
1157,Passaic County,2205,112946,444400,Census Tract 1756.01
1216,Passaic County,4114,125156,437300,Census Tract 2462.03
1150,Passaic County,8490,100724,436000,Census Tract 1635
1129,Passaic County,4549,110156,428400,Census Tract 1243.12
1148,Passaic County,6346,78675,423000,Census Tract 1540.01
1210,Passaic County,6803,105775,411200,Census Tract 2461.01
1203,Passaic County,7818,103792,408400,Census Tract 2238.02
1145,Passaic County,6224,108871,404200,Census Tract 1432
1224,Passaic County,6491,78973,395100,Census Tract 2641.02
1209,Passaic County,5643,114263,393400,Census Tract 2460.03
1161,Passaic County,4374,69350,378700,Census Tract 1757.04
1147,Passaic County,7388,81655,363900,Census Tract 1434
1200,Passaic County,6739,112803,358400,Census Tract 2167.01
1149,Passaic County,8147,80464,357900,Census Tract 1540.02
1133,Passaic County,6901,94315,356000,Census Tract 1244.01
1196,Passaic County,3105,24604,352900,Census Tract 1832
1128,Passaic County,4650,97344,352600,Census Tract 1243.11
1225,Passaic County,4500,17288,348600,Census Tract 2642
1127,Passaic County,7177,88813,346600,Census Tract 1242
1130,Passaic County,6005,83821,338600,Census Tract 1243.21
1221,Passaic County,6917,121213,337900,Census Tract 2568.04
1201,Passaic County,5659,116212,337700,Census Tract 2167.02
1131,Passaic County,4407,95968,332600,Census Tract 1243.22
1222,Passaic County,5310,104867,331900,Census Tract 2568.05
...,...,...,...,...,...
1183,Passaic County,3702,26630,245300,Census Tract 1821
1186,Passaic County,6582,31500,244900,Census Tract 1823.02
1153,Passaic County,5129,26697,242400,Census Tract 1753.02
1160,Passaic County,4655,52039,241700,Census Tract 1757.03
1175,Passaic County,4833,32109,241100,Census Tract 1812
1173,Passaic County,4350,36841,238500,Census Tract 1810
1171,Passaic County,3132,20067,238400,Census Tract 1808
1179,Passaic County,2800,22471,235500,Census Tract 1817.02
1165,Passaic County,8516,77344,234900,Census Tract 1801
1181,Passaic County,4674,43865,233000,Census Tract 1819
1182,Passaic County,1460,33967,232500,Census Tract 1820
1163,Passaic County,7033,28246,230700,Census Tract 1758.02
1211,Passaic County,2944,75058,230200,Census Tract 2461.02
1180,Passaic County,3241,18102,228100,Census Tract 1818
1220,Passaic County,5081,80441,225500,Census Tract 2568.03
1167,Passaic County,6787,32192,223700,Census Tract 1802.02
1176,Passaic County,4918,26311,221400,Census Tract 1813
1195,Passaic County,4831,41651,202400,Census Tract 1831.02
1177,Passaic County,2485,22784,201400,Census Tract 1814
1166,Passaic County,3222,45833,200000,Census Tract 1802.01
1188,Passaic County,9299,51512,199100,Census Tract 1825
1172,Passaic County,3617,40685,198900,Census Tract 1809
1168,Passaic County,5743,31163,192600,Census Tract 1803
1169,Passaic County,4560,32277,190900,Census Tract 1806
1192,Passaic County,2279,30690,183300,Census Tract 1829
1170,Passaic County,2427,29130,182400,Census Tract 1807
1178,Passaic County,2731,20434,166700,Census Tract 1815
1151,Passaic County,5299,30821,-666666666,Census Tract 1752
1204,Passaic County,556,-666666666,-666666666,Census Tract 2239
1164,Passaic County,3764,28625,-666666666,Census Tract 1759

**Note** how you can display the columns in ANY ORDER you desire. Just make a new list for `column_names` and use that to show the data. Include only the columns you want to see, in the order you want.

But wait, there's more! What if you want to save that data in that exact format - maybe to send it to someone else.

In [31]:
# save that to a NEW CSV file with a new filename
new_dataset = passaic[column_names].sort_values('median_home_value', ascending=False)
new_dataset.to_csv('passaic_only.csv', encoding='utf8')

THAT is seriously powerful. You just extracted **100 rows** from a 4,700-row CSV, threw out 10 of the 16 columns, and put the columns into a different order. Your original CSV remains untouched and intact. You created a new CSV file that you could share with others who do not have Jupyter Notebooks.

In case you're not sure what directory the new file was saved to, enter `pwd` to find out which directory this Jupyter Notebook is running in. (`pwd` is a command that stands for "print working directory.)

In [32]:
pwd

'/Users/mcadams/Documents/python/conda_jup/conda-python-intro/complete'

The output from the previous cell shows you where to find the file *passaic_only.csv* on your computer.

In [33]:
# how many rows (Census tracts) does each county have, anyway? 
census_data['county_clean'].value_counts()

Kings County          761
Queens County         669
Bronx County          339
Suffolk County        323
New York County       288
Nassau County         284
Westchester County    223
Essex County          210
Bergen County         179
Middlesex County      175
Hudson County         166
Monmouth County       144
Ocean County          126
Richmond County       110
Union County          108
Morris County         100
Passaic County        100
Orange County          79
Dutchess County        79
Somerset County        68
Rockland County        65
Sussex County          41
Hunterdon County       26
Putnam County          19
Pike County            18
Name: county_clean, dtype: int64

**Note** that the list (in the output from the previous cell) is in order from most rows to fewest rows. You can see which counties have a large number of Census tracts in this dataset (which might not be complete for some counties).

In [34]:
# combine all Census tracts for each county and show sum of all tracts' population
census_data.groupby('county_clean')['total_population'].sum()

county_clean
Bergen County          930310
Bronx County          1436785
Dutchess County        295905
Essex County           792586
Hudson County          668526
Hunterdon County       125708
Kings County          2606852
Middlesex County       831852
Monmouth County        627532
Morris County          498215
Nassau County         1356801
New York County       1634989
Ocean County           586166
Orange County          376242
Passaic County         507204
Pike County             56210
Putnam County           99408
Queens County         2310011
Richmond County        473324
Rockland County        322642
Somerset County        331686
Suffolk County        1498130
Sussex County          144694
Union County           550436
Westchester County     969229
Name: total_population, dtype: int64

In [35]:
# sort them by highest to lowest population
counties_pop = census_data.groupby('county_clean')['total_population'].sum()
counties_pop.sort_values(ascending=False)

county_clean
Kings County          2606852
Queens County         2310011
New York County       1634989
Suffolk County        1498130
Bronx County          1436785
Nassau County         1356801
Westchester County     969229
Bergen County          930310
Middlesex County       831852
Essex County           792586
Hudson County          668526
Monmouth County        627532
Ocean County           586166
Union County           550436
Passaic County         507204
Morris County          498215
Richmond County        473324
Orange County          376242
Somerset County        331686
Rockland County        322642
Dutchess County        295905
Sussex County          144694
Hunterdon County       125708
Putnam County           99408
Pike County             56210
Name: total_population, dtype: int64

This is just an introduction to some of the exploration you can do with Pandas. There's much more!